.jobsTable {
    min-width: 900px;
}

.jobsTable th {
    padding: 14px 12px;
    color: var(--color-muted);
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid var(--color-border);
    white-space: nowrap;
}

.jobsTable td {
    padding: 15px 12px;
    color: var(--color-text);
    border-bottom: 1px solid var(--color-border);
    white-space: nowrap;
}

.jobsTable tbody tr:last-child td {
    border-bottom: 0;
}

.jobStatus {
    display: inline-block;
    padding: 5px 11px;
    border-radius: 20px;
    font-size: 11px;
    font-weight: 700;
    white-space: nowrap;
}

.inProgress {
    color: var(--color-primary);
    background: var(--color-primary-light);
}

.inReview {
    color: var(--color-warning);
    background: var(--color-warning-bg);
}

.disputed {
    color: var(--color-danger);
    background: var(--color-danger-bg);
}

.delivered {
    color: var(--color-success);
    background: var(--color-success-bg);
}
.newJob{
       color: var(--color-primary);
    background: var(--color-primary-light);
}
.cancelled {
        color: var(--color-danger);
    background: var(--color-danger-bg);
}

@media (max-width: 767px) {

    .jobsTable {
        min-width: 800px;
    }

    .jobsTable th,
    .jobsTable td {
        padding: 12px 10px;
    }

}

@media (max-width: 575px) {

    .jobsTable {
        min-width: 750px;
    }

    .jobsTable th {
        font-size: 11px;
    }

    .jobsTable td {
        font-size: 13px;
    }

}